@import '../../styles/mixins';

.Main {
  &__container {
    padding: 0 16px;

    @include onTablet {
      padding: 0 32px;
    }

    @include onDesktop {
      padding: 0 60px;
    }
  }

  &__title {
    margin: 140px 0 50px 0;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
  }
} 